.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
//Меняет скролл
::-webkit-scrollbar {
    width: 3px;
    // height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #26ABE2;
    margin-top: 10px;
    border-radius: 35px;
}

//Выключает фокус на бордерах при нажатии
:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
    